In [15]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
%matplotlib inline
import seaborn as sns
from fbprophet import Prophet

ModuleNotFoundError: No module named 'fbprophet'

In [2]:
df = pd.read_csv("Time_series_analysis_and_forecast_DATASET.csv")

In [3]:
df.head()

              FullDate  Tmax   SysLoad  GasPrice  ElecPrice
0  2010-09-01 00:00:00  15.8  1688.215      3.69     23.710
1  2010-09-01 01:00:00  15.8  1669.195      3.69     22.635
2  2010-09-01 02:00:00  15.8  1491.980      3.69     22.565
3  2010-09-01 03:00:00  15.8  1330.760      3.69     18.910
4  2010-09-01 04:00:00  15.8  1247.940      3.69     18.030

In [4]:
df.head()

              FullDate  Tmax   SysLoad  GasPrice  ElecPrice
0  2010-09-01 00:00:00  15.8  1688.215      3.69     23.710
1  2010-09-01 01:00:00  15.8  1669.195      3.69     22.635
2  2010-09-01 02:00:00  15.8  1491.980      3.69     22.565
3  2010-09-01 03:00:00  15.8  1330.760      3.69     18.910
4  2010-09-01 04:00:00  15.8  1247.940      3.69     18.030

In [5]:
df.shape

(92016, 5)

In [6]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 92016 entries, 0 to 92015
Data columns (total 5 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   FullDate   92016 non-null  object
 1   Tmax       92016 non-null  float64
 2   SysLoad    92016 non-null  float64
 3   GasPrice   92016 non-null  float64
 4   ElecPrice  92016 non-null  float64
dtypes: float64(4), object(1)
memory usage: 3.5+ MB

In [7]:
df.isnull().sum()

FullDate     0
Tmax         0
SysLoad      0
GasPrice     0
ElecPrice    0
dtype: int64

In [8]:
df.describe()

               Tmax       SysLoad      GasPrice     ElecPrice
count  92016.000000  92016.000000  92016.000000  92016.000000
mean     231.696688    797.623357      6.016163     65.798356
std     4562.128748    613.520156      2.608116    213.144084
min        9.900000  -1596.810100      0.000000   -924.820000
25%       17.300000    417.119800      3.936900     31.543750
50%       21.900000    856.467925      5.165600     48.715000
75%       27.600000   1221.293675      8.023300     76.495000
max    99999.900000   3264.166300     29.990000  14700.000000

In [9]:
df['FullDate'] = pd.to_datetime(df['FullDate'])
df = df.set_index('FullDate')
df_days = df.resample('D').sum()

In [12]:
df_days.reset_index(inplace=True)

x_train = df_days[:-2757]
x_test = df_days.tail(2757)

df_days.dtypes

index                 int64
FullDate     datetime64[ns]
Tmax                float64
SysLoad             float64
GasPrice            float64
ElecPrice           float64
dtype: object

In [13]:
univariante_df = df_days[['FullDate','ElecPrice']]

df_1 = univariante_df.rename(columns={"FullDate": "dt", "ElecPrice": "y"})